.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    flex: 1 1 calc(20% - 5px);
    max-width: calc(20% - 5px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card .product-details {
    text-align: left;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 16px;
    margin: 5px 0;
}

.product-card p strong {
    color: #28a745;
}

.product-card .price {
    display: flex;
    flex-direction: column;
}

.product-card .old-price {
    text-decoration: line-through;
    color: #888;
}

.product-card .new-price {
    color: #28a745;
    font-weight: bold;
}

.product-card button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #218838;
}

.products-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.category-title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 1200px) {
    .product-card {
        flex: 1 1 calc(33.333% - 5px);
        max-width: calc(33.333% - 5px);
    }
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 5px);
        max-width: calc(50% - 5px);
    }
}

@media (max-width: 576px) {
    .product-card {
        flex: 1 1 calc(100% - 5px);
        max-width: calc(100% - 5px);
    }
}