.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Стили для заголовка */
h2 {
    font-size: 2em;
    color: #333;
    text-align: center;
}

/* Стили для формы */
.bg-white {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для меток */
.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Стили для полей ввода */
.form-control {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Стили для кнопки */
.btn {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #0056b3;
}

/* Стили для ошибок */
.alert {
    color: red;
    margin-top: 5px;
    font-size: 0.9em;
}

/* Стили для тени */
.custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Отступы для элементов */
.mb-3 {
    margin-bottom: 20px;
}

.mt-5 {
    margin-top: 5rem;
}

/* Стили для rounded */
.rounded {
    border-radius: 8px;
}