{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
Products - Food Delivery
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<div class="product-list">
    {% for category in categories %}
        <div class="products-row">
            <h2 id="category-{{ category.id }}" class="category-title">{{ category.title }}</h2>
            {% for product in products %}
                {% if product.category == category %}
                    {% include 'products/product_detail.html' %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
