<div class="product-card">
    {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.title }}">
    {% else %}
    <p>Изображения нет</p>
    {% endif %}
    <div class="product-details">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }} рублей</p>
        {% if product.old_price %}
        <p><strong>Old Price:</strong> {{ product.old_price }} рублей</p>
        {% endif %}
        <button>
            <li class="nav-item">
                <a class="nav-link  text-white" href="{% url "cart:cart_add" %}">Add to Cart</a>
            </li>
        </button>
    </div>
</div>